* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}
/* FINE RESET CSS */

body{
    font-family: "jost", sans-serif;
    background-color: rgb(9, 89, 114);
}

.container{
    max-width: 1200px;
}

.col{
    text-align: center;
}

h1{
    color: white;
    font-size: 80px;
}

.list{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    list-style: none;
}

li{
    width: 100px;
    height: 100px;
    background-color: rgb(49, 107, 194);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}

/* BACKGROUND COLOR DA MODIFICARE */
.bg-fizz{
    background-color: rgb(21, 209, 162);
}

.bg-buzz{
    background-color: rgb(219, 207, 92);
}

.bg-fizzbuzz{
    background-color: rgb(197, 47, 159);
}